# Copyright 2021 bythe.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# this file is needed to change belows for building, and rename into tinycore.properties

ldap_url=
ldap_admin_context=
ldap_admin_password=

test_ldap_search_node=
test_ldap_search_filter=

test_ldap_user=
test_ldap_password=

